* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.top-section {
    background-color: #1F2937;
    padding: 20px 140px 100px 140px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.nav {
    display: flex;
    gap: 16px;
}

.nav-link {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero {
    display: flex;
    gap: 40px;
}

.hero-text {
    flex: 1;
}

.hero-title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext {
    color: #e5e7eb;
    font-size: 18px;
    margin-top: 5px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
}

.hero-image {
    background-color: #6D747D;
    color: white;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-section {
    padding: 60px 140px;
    text-align: center;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    width: 150px;
}

.blue-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 100px 200px;
}

.main-quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

.cta-section {
    padding: 80px 140px;
}

.cta-blue-box {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.cta-button {
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 8px 30px;
    border-radius: 8px;
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
    text-align: center;
    padding: 40px;
}